
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
        background: linear-gradient(70deg, blue, pink);
      
}


p{ 
    color: crimson;
}


h1{
    border: 10px double red;
    text-align: center;
    background: rgb(243, 243, 100);
}

img{
    border: 5px solid rgb(236, 26, 26);
    border-radius: 50px;  

}
p{
    text-align: center;
}
h2{
    text-align: center;
}
img{transition:0.5s}

img:hover{transform:scale(1.1)}
